extends layout

block content
  h1 Tyler's freecodecamp.com API Projects
  p I had to combine them all into one app in order to stay under heroku's 5 app limit for free accounts.
  
  ul
    li
      a(href="/whoami") Who am I?
    li
      a(href="/timestamp") Timestamp
